.crt-form.hor.pri .elblhd .flb,
.crt-form.ver.pri .elblhd .flb{
    font-weight: 600;
font-size: 16px !important;line-height: 24px;letter-spacing: 0px;}

.notre p.ett-para{ 
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;
}

.ekycsuc {border: 1px solid  #039855;box-shadow: 0px 2px 6px #00000040;padding: 16px;border-radius: 12px;border-width: 1px;
   background-color: #F2F9EB;width: 280px;margin: 0 auto;margin-top: 24px;}

.refid .srb {
    width: auto;
    display:flex;
}
.refid .scb-col100 {
    display: flex;
    justify-content: center;
    gap:4px
}
.refid .srb p.ett-para{
font-family: Open Sans;
font-weight: 400;
font-size: 11px;
line-height: 16px; 
color:#737373
}
.mt8 {
    margin-top: 8px;
}
.srb.lindtl {
    display: flex;
    gap: 16px;
}
.lindtl .uploadimg {max-width:unset;min-width:unset;margin-top: 0;width: 100%;margin-bottom:0;}