.rpcdbvmain .caloandtl.threecol .crt-form .srb .udyambadge .srb.badgg {
    height: 32px;
    padding: 4px 12px;
    gap: 0;
    margin-top: 1px;
    justify-content: center;
    padding-top: 5px;
}
.rpcdbvmain .caloandtl.threecol .crt-form > .srb.hdrsec.radsecsno .etb-rdio span:last-child{
display:none;
}

.mod-txt .ett-para.sec{ 
font-weight: 400;
font-size: 11px;
line-height: 16px;
letter-spacing: 0%;
color:#004886;
    
}
.udy-reg .radgrp .srb li span > span:last-child {
    display: none;
}

.udy-reg .radgrp .srb li span > span {
    width: 100%;
}