.crdas.dbkit .lon-hdr{/* position: unset; */width: calc(100vw - 504px);margin-left: 252px;}
body.unati.crdas.dbkit .base-screen{padding:0px;overflow: unset;height: unset;}
.unati.crdas.dbkit .cafooter{width: calc(100vw - 252px);left: unset;z-index: 9;}
.unati.crdas.dbkit .cabasediv .casidebar.left{width:252px;margin-left: 0;}
.unati.crdas.dbkit .launch-area{margin-top: 123px;padding:0px 32px;height: calc(100vh - 253px);overflow: auto;padding-bottom:32px;}


.unati.crdas.dbkit .cabasediv .casidebar.dowl {
    margin: 0;
    right: 0;
}

.cabasediv.dbkitmain .cabody {
    width: calc(100% - 504px);
    margin-left: 252px;
    overflow: auto;
}
.cabasediv.dbkitmain .cabody.dashrpcdbpreview{
  margin-left: 0!important;  
}
body.unati.crdas.dbkit .listopt .ett-hypl.pri svg{
min-width:16px
}

.srb.btm-seperator.nobor {
    border: none;
    padding: 0;
    margin: 0;
}
.caloandtl .crt-form .srb{
    width:100%;
}
.caloandtl.threecol .crt-form > .srb {
    width: calc(33% - 14px);
}

.caloandtl.threecol .crt-form .srb .srb {
    width: 100%;
}
.crt-form.ver.pri.mb0 .srb.eoc {
    margin-bottom: 0;
}

.ett-bttn.sec.selected {
    background: #1C41B01F;
}
.dbkit .srb.sidebarclose {
    
    margin-bottom: 0px;
}
.unati.crdas div.modal.no-ftr .modal-window .modal-cnt {
    height: 100vh;
    max-height: 78vh;
    overflow: auto;
}

.uplod-imgmdl .tool-hdr .tols {
    justify-content: flex-end;
}
.w-100 {
    width: 100%;
}
.uploadimg.uploadby {
    max-height: 70px;
    height: 70px !important;
    margin-top: 12px !important;
}
.uplod-imgmdl .tool-hdr .tols ul {
    width: auto;
}

.caloandtl .crt-form .srb.wd-100 {
    width: 100%;
}
