.caloandtl.threecol .crt-form > .srb{
width:calc(33% - 13px);
}

.caloandtl.threecol .crt-form > .srb.hdrsec {
    width: 100%;
}
.dbkitmain .phtdtl .verquer .srb > .scb-col100 ul.srb .ett-bttn.icr svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    margin-right: 0;
}
.caloandtl.threecol .crt-form > .srb.shwdtl {
    width: calc(50% - 12px);
}

.caloandtl.threecol .crt-form > .srb.shwdtl > span.scb-col100 > .srb{
width:100%;
}
.dbkitmain .pst-simp.pa0 > div.lmvalues .srb{display: table;width: 100%;}

.dbkitmain .caloandtl.threecol .crt-form.sanc-com > .srb {
    width: 100%;
}


.dbkitmain .pst-simp.pa0 > div.lmvalues .srb > span {
    padding-right: 12px;
}

.dbkitmain .tab-label-lists {
    margin: 16px 0 16px;
}

.dbkitmain .reAssesmentModules {
    display: flex;
    gap: 16px;
}
.dbkitmain .reAssesmentModules .uploadimg{
    margin:0px
}
.dbkitmain .reAssesmentModules .uploadimg  .srb.eoc{
margin:0px}

.dbkitmain .autapproved.srb >span {
    display: flex;
    flex-direction: row;
    
}
.dbkitmain .crt-form.ver.pri .autapproved >span .eoc.srb{
    margin-bottom:0px
}
.pst-simp.pa0 > div.lmvalues.sendbak span.srb >span {
    padding: 0px;
}

body.unati .suc-reg .ett-para,body.unati .suc-reg .flb {font-size: 11px !important;line-height: 17px !important;color:#231F20}

.suc-reg {
    line-height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dbkitmain .ett-rdio.hor.pri input[type=radio] + label {
    margin: 0;
}
.dbkitmain .pst-simp.pa0 > div.lmvalues.sanc-dec .srb > span {
    padding-right: 0px;
}
.dbkitmain .deviationItem .autapproved.srb > span {
    justify-content: flex-end;
}
.mbotom0 {
    margin-bottom: 0;
}
.caloandtl.mbotom0 .srb.wrapped.shwdtl > .scb-col100 {
    gap: 0 24px;
}

.pst-simp.pa0 > div.lmvalues.sanc-lst.rassmnt-list ul.pri li > span {
    display: flex;
}

.pst-simp.pa0 > div.lmvalues.rassmnt-list .srb > span {
    padding-right: 0px;
}

.pst-simp.pa0 > div.lmvalues.sanc-lst.rassmnt-list ul.pri li > span > .srb.pri {
    display: inline-flex;
}

.pst-simp.pa0 > div.lmvalues.sanc-lst.rassmnt-list ul.pri li > span > .srb.pri.approved > span {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.pst-simp.pa0 > div.lmvalues.sanc-lst.rassmnt-list ul.pri li > span > .srb.pri.approved > span .comp-date {
    justify-content: end;
}

.crdas .lon-hdr .cstmr-id .ett-para {
    font-size: 18px;
    font-weight: 600;
}



























