.dbkitmain .phtdtl .verquer .srb > .scb-col100 ul.srb .ett-bttn.icr svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    margin-right: 0;
}

.caloandtl.threecol .crt-form > .srb.shwdtl {
    width: calc(50% - 12px);
}


.caloandtl.threecol .crt-form > .srb.shwdtl > span.scb-col100 > .srb{
width:100%;
}

.caloandtl .crt-form .udyambadge .srb {
    width: auto;
    display: flex;
}

.caloandtl.threecol .crt-form .srb .udyambadge .srb {    width: auto;
}
.caloandtl.threecol .crt-form > .srb.shwdtl.udyamreason {
    width: 100%;
}
.caloandtl.threecol .crt-form .srb .udyambadge .srb.badgg{background: #D1FADF;border: 1px solid #039855;color: #039855;border-radius: 104px;padding: 8px 12px;align-items: center;height:36px;}
.caloandtl.threecol .crt-form .srb .udyambadge .srb.badgg svg{
margin-left: 8px;
    width: 16px;
    height: 16px;
    margin-right: 0;
    margin-bottom: 4px;
}
.caloandtl.threecol .crt-form .srb .udyambadge .srb.badgg .flb{margin:0;font-weight: 600;font-size:14px !important;}

.caloandtl.threecol .crt-form .srb .udyambadge {
    display: flex;
    align-items: center;
    gap: 8px;
}


.caloandtl.threecol .crt-form .srb .suc-fail {display: flex;gap: 12px;}


.caloandtl.threecol .crt-form .srb .suc-fail .srb {
    width: auto;
}

.caloandtl.threecol .uploadimg > .scb-col100 .srb{width:auto;display: table;}
.caloandtl.threecol .uploadimg > .scb-col100 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 12px;
    align-items: center;
}

.updel span {
    width: auto;
}
.uploadimg.mb0,.uploadimg.mt0 {
    margin: 0;
}

.uregstat.phtdtl {
    border: none;
    padding-bottom: 0;
}
.unati.crdas .udyamreason .ett-slct.pri .sub-elt {
    color: #231f20;
}

.crt-list.list-main-sec > ul.tsp > li.active > span.scb-col15,
.crt-list.list-main-sec > ul.tsp > li.uploaded > span.scb-col15 {
    width: 24px;
    margin-right: 12px;
}
.srb.wrapped.shwdtl.udyamreason > span.scb-col100 {
    gap: 0;
    
}
