.update-btn .ett-bttn {
background-clip: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: unset;
    height: 28px;
    padding: 0 16px;
    border-radius: 104px;
    line-height: 16px;
background: #B3E5FC;
font-weight:400;
font-size:12px;border:none;
color:#231F20;
}
.try-btn.srb.wrapped > span {
    display: flex;
    width: auto;
    gap: 16px;
}
.mt12{
    margin-top:12px;
}
.caloandtl .crt-form.ver.pri .srb.eoc.update-txt p {
    display: flex;
    align-items: center;
    color: #DC6803;
    font-weight: 600;
    font-size: 14px;
}

.mt12 {
    margin-top: 12px;
}

.dbenach .enachsuc {
    width: 320px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  #D1FADF;
}

.dbenach .enachsuc .scb-col20 svg {
    width: 44px;
    height: 44px;
}

.dbenach .enachsuc .scb-col20 {
    width: auto;
    display: inline-masonry;
}

.dbenach .enachsuc .scb-col20 .srb.eoc {
    width: auto;
}

.suc-reg {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.suc-reg > span {
    width: auto;
}
.suc-reg > span ul.eoc.srb{

width:auto;}
.enachsuc .flb{
margin-bottom:0px
}

.enachsuc.enachfail {background: #FEFDF0;border: 1px solid #EAAA08;}
.try-btn.srb > span {
    display: flex;
    width: auto;
    gap: 16px;
}

.try-btn.srb > span ul {
    width: auto;
}

.dbenach .ecn > .icl > svg {
    stroke: none;
}

.dbenach .ecn > .icl > .ett-inpt.pri {border-radius: 104px;height: 36px;}
.caloandtl.threecol .crt-form .srb .srb.enachbnkdtl {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.caloandtl.threecol .crt-form .srb .srb.enachbnkdtl a.ett-hypl{
font-weight:600;
font-size:16px
}
.caloandtl.threecol .crt-form .srb .srb.enachbnkdtl  span.scb-col25{
width:auto
}
.enacsrh {
    position: absolute;
    top: 9px;
    right: 68px;
}
.enacsrh .srh{display:flex;justify-content:flex-end;width: 100%;}
.enacsrh .srh .srb {width:auto;}
.enacsrh .srh .eic {display:flex;justify-content:flex-end;width: auto;right: 8px;}
.unati .enacsrh .srh .ett-inpt.pri{width:auto;display: flex;height: 36px;}
.enacsrh .srh .eic svg{
stroke:none;
}
.shwdtl > span.scb-col100 > .srb.w-100 {
    width: 100%;
}
.enachattach .uploadimg {
    margin: 0;
}
.update-txt.btm-seperator p.ett-para.pri {color: #DC6803;
font-weight: 600;
font-size: 14px;
line-height: 20px; 
}
.update-txt.btm-seperator li:last-child {
display:flex;align-items:center}

.pre-view  .clicked.ett-bttn {
    background: #1C41B01F;
} 
.caloandtl.mbotom0 .uploadimg {
    margin-bottom: 0;
} 
.caloandtl.mbotom0 .srb.wrapped.shwdtl > .scb-col100 {
    gap: 0 24px;
} 
.caloandtl.threecol .crt-form .try-btn.srb > span ul.srb, .try-btn.srb > span ul.srb li {
    width: auto;
} 
.crt-form.ver .srb.eoc.wrapped > li {
    width: auto !important;
}